/*========== IMPORTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400&display=swap');

/*========== RESET ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #5e5e5e transparent;
}
/*========== SCROLL ==========*/
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
}
/*========== ROOT ==========*/
:root {
  --base-color: #000000;
  --text-color: white;
  --menu-color: rgb(190, 190, 190);
  --menu-active-color: #121212;
  --menu-border-color: rgb(40, 40, 40);
  --nav-color: #101010;
  --col-color: #171717;
  --player-color: #181818;
  --progress-color: #535353;
  --progress-color-2: #1dac4f;
}
/*========== BASE ==========*/
html,
body {
  height: 100%;
  font-variant: initial;
  font-family: 'Changa', sans-serif;
}
/*========== SIDEBAR ==========*/
.sidebar {
  position: fixed;

  float: left;
  width: 15rem;
  padding: 0.625rem;
  height: 92%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--base-color);
}

.sidebar::-webkit-scrollbar {
  width: 1px;
}

.sidebar-wrapper {
  padding-bottom: 12.5rem;
}

.sidebar_menu {
  margin: 1.25rem 0;
  color: var(--menu-color);
}

.sidebar_logo img {
  margin: 0.9rem 0.9rem 0 0.9rem;
  max-width: 15rem;
  width: 63%;
}

.sidebar_menu a {
  color: var(--menu-color);
  text-decoration: none;
  display: block;
  padding: 0.625rem 0;
}

.sidebar_menu svg {
  margin: 0 1.25rem;
}

.sidebar_menu a.sidebar_menu_active {
  color: var(--text-color);
  background-color: var(--menu-active-color);
  border-radius: 5px;
}

.sidebar_menu_item {
  margin-top: 0.75rem;
  cursor: pointer;
  vertical-align: middle;
}

.sidebar_menu p.sidebar_menu_title {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
}

.sidebar_menu_componente {
  width: 1.875rem;
  height: 1.875rem;
  text-align: center;
  line-height: 1.875rem;
  display: inline-block;
  color: var(--base-color);
  font-weight: bold;
  background-color: var(--text-color);
}

.sidebar_menu_item span {
  font-weight: bold;
  font-size: 14px;
  padding: 0 0.625rem;
}

.sidebar_menu_item img {
  width: 1.875rem;
  height: 1.875rem;
  vertical-align: middle;
}
.sidebar_playlists {
  padding: 1.25rem 0;
  border-top: 1px solid var(--menu-border-color);
}

.sidebar_playlists a {
  margin: 0.625rem 0;
  display: block;
  color: var(--menu-color);
  text-decoration: none;
}

.sidebar_playlists a:hover {
  color: var(--base-color);
}

/*========== NAV ==========*/
.nav {
  position: fixed;
  margin-left: 15rem;
  width: calc(100% - 15rem);
  background-color: var(--nav-color);
  height: 3.7rem;
}

/*========== MAIN ==========*/
.main {
  margin-top: 3.7rem;
  margin-left: 15rem;
  width: calc(100% - 15rem);
  background: linear-gradient(#1d1d1d, #121212);
  height: calc(92% - 3.7rem);

  float: left;
  padding: 0 15px 20px 35px;
  overflow-y: auto;
}

.main_row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}

.main-wrapper {
  padding-bottom: 12.5rem;
}

.main_row_title {
  width: 100%;
}

.main_row_title h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.main_col p {
  max-width: 34ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--menu-color);
}

.main_col img {
  width: 97%;
  height: 65%;
}

.main_col {
  color: var(--text-color);
  cursor: pointer;
  width: 9.5%;
  margin-right: 1.2%;
  margin-top: 1.25rem;

  background-color: var(--col-color);
  border-radius: 8px;

  padding: 0.7rem;
  padding-bottom: 2rem;
  text-align: left;
}

/*========== PLAYER ==========*/
.player {
  width: 100%;
  padding: 1.875rem;
  height: 8.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  border-top: 0.5px solid var(--menu-border-color);
  background-color: var(--player-color);
}

.player_artist {
  width: 20%;
}

.player_artist img {
  max-width: 4.375rem;
  display: inline-block;
  vertical-align: middle;
}

.player_artist h3 {
  display: inline-block;
  color: var(--text-color);
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 0.625rem;
}

.player_artist h3 > span {
  color: var(--menu-color);
  font-size: 13px;
}

.player_control {
  width: 70%;
  text-align: center;
}

.player_control_button a {
  color: var(--text-color);
  margin: 8px 15px;
  font-size: 18px;
  transition: 0.3s;
}

.player_control_button a:hover {
  color: var(--progress-color-2);
}

.player_control_progress {
  width: 100%;
  max-width: 37.5rem;
  height: 0.4375rem;
  margin-top: 1.25rem;
  position: relative;
  border-radius: 8px;
  display: inline-block;
  background-color: var(--progress-color);
  cursor: pointer;
}

.player_control_button a.pp {
  font-size: 30px;
}

.player_control_progress_2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.4375rem;
  border-radius: 8px;
  background-color: var(--text-color);
  transition: 0.3s;
}

.player_control_progress_2:hover {
  background-color: var(--progress-color-2);
}

/*========== RESPONSIVE  ==========*/
@media screen and (max-width: 1700px) {
  .main_col {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .main_col {
    width: 48%;
  }
}

@media screen and (max-width: 520px) {
  .sidebar,
  .nav {
    display: none;
  }

  .main_col,
  .main {
    width: 100%;
  }

  .main {
    margin: 0;
  }
}
